body {
    background-image: url('samson-ZGjbiukp_-A-unsplash.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #57cc99;
}

h3 {
    color: #38a3a5;
}

.calculator {
    margin-top: 20px;
}

.form-group {
    margin: 10px 0;
}

.btn-align {
    text-align: center;
}

.btn-align button {
    display: inline-block;
    vertical-align: middle;
}

#result {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

footer p a {
    color:#ffffff;
    text-decoration: none;
}
footer p a:hover {
    color:#ffffff;
    text-decoration: underline;
}
